<!DOCTYPE html>

<html ng-app="Elloquent">
<head>
    <meta charset="utf-8" />
    <title></title>
    <!--<base href="/">-->
    <script src="https://npmcdn.com/parse@1.9.2/dist/parse.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--<script src="https://npmcdn.com/parse@1.9.2/dist/parse.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

    <script>
        Parse.initialize("hm3HmqcHxgfMQxP2SF0Ue0at67HFqqxeYq5ZxKoR", "nweYdxbTDxFnWp85o2xxqNu6Gl8zDKnaZyxGWkAe");
        Parse.serverURL = 'https://parseapi.back4app.com'
    </script>

    <style>
        .login-header-container {
            background-color: rgb(92, 184, 228);
            border-radius: 8px;
        }

        .login-container {
            border-radius: 8px;
            background-color: rgb(170, 225, 255);
            padding: 0px;
        }

        .mygrid-wrapper-div {
            overflow: scroll;
        }

        .right {
            float: right;
        }

        .left {
            float: left;
        }

        .error {
            color: red;
            border: 1px solid #f00;
        }

        .myBlock {
            border-style: solid;
            border-bottom-style: none;
            border-width: 1px;
            border-color: lightgray;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-control {
            margin-bottom: 15px;
        }
    </style>

    <script>

        /* Functions that I assume need to be loaded when the page loads for who knows why */
        window.onload = function () {

            $('#editBook').hide();
            $("#imageFile").change(function () {
                readURL(this);
            });
            $("#editImageFile").change(function () {
                editReadURL(this);
            });
        };

        /* Change the height of the window and its content */
        $(function () {
            var window_height = $(window).height(),
                content_height = window_height - 200;
            $('.mygrid-wrapper-div').height(content_height);
        });

        /* Why this is here twice, I have no idea */
        $(window).resize(function () {
            var window_height = $(window).height(),
                content_height = window_height - 200;
            $('.mygrid-wrapper-div').height(content_height);
        });

        /* Read the image from a file explorer for a new book's cover */
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imageCover').attr('src', e.target.result);
                }
                debugger;

                reader.readAsDataURL(input.files[0]);
            }
        }

        /* Read the image from a file explorer for an existing book's cover */
        function editReadURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#editImageCover').attr('src', e.target.result);
                }
                debugger;
                reader.readAsDataURL(input.files[0]);
            }
        }

        angular.module('Elloquent', ['ngCookies']).controller('ElloquentController', ['$scope', '$cookies', function ($scope, $cookies) {

            /* Login variables */
            $scope.loggedIn = false;
            $scope.username = "";
            $scope.password = "";
            $scope.currentUser = null;

            /* Unorganized variables */
            $scope.list = [];
            $scope.books = ["one", "two"];
            $scope.data;
            $scope.currentBook;
            $scope.loggedIn = false;
            $scope.selectedBookTitle = "No Book Selected";
            $scope.selectedBookURL = "images/noimage.png"
            $scope.selectedBook = null;
            $scope.defaultImage = "images/noimage.png";
            $scope.userBooks = [];
            $scope.leader = false;
            $scope.name;
            $scope.word;
            $scope.grades = ["Any", "K-1st", "2nd-3rd", "4th-5th", "6th-7th"];
            $scope.gradesPick = ["K-1st", "2nd-3rd", "4th-5th", "6th-7th"];
            $scope.subjects = ["Any", "Language Arts", "Social Studies", "Math", "Science"];
            $scope.subjectsPick = ["Language Arts", "Social Studies", "Math", "Science"];
            $scope.difficulty = ["Any", "Easy", "Intermediate", "Advanced"];
            $scope.difficultyPick = ["Easy", "Intermediate", "Advanced"]
            $scope.fileName;
            $scope.wordList = [];
            $scope.grade;
            $scope.user;
            $scope.friends = [];

            $scope.cover = "";

            $scope.login = function () {
                debugger;
                var user = Parse.User.logIn($scope.username, $scope.password, {
                    success: function (user) {
                        $scope.loggedIn = true;
                        $scope.currentUser = user;
                        //$cookies.put('user', 'hello', {
                        //    path: '/'
                        //});

                        $scope.filterBooks();
                        $scope.myFilterBooks();
                        $scope.jumpToBrowse();
                        $scope.password = "";
                        $scope.username = "";

                        $scope.$apply();
                    },
                    error: function (user, error) {
                        /* Login Failed :[ */
                        alert("Incorrect Username or Password");
                    }
                });
            }

            $scope.filterBooks = function () {
                debugger;
                var Book = Parse.Object.extend("Book");
                var query = new Parse.Query(Book);

                if ($scope.filterSubjects != "Any") {
                    query.equalTo("subject", $scope.filterSubjects);
                }
                if ($scope.filterGrades != "Any") {
                    query.equalTo("gradeLevel", $scope.filterGrades);
                }
                if ($scope.filterDifficulty != "Any") {
                    query.equalTo("difficulty", $scope.filterDifficulty);
                }

                query.find({
                    success: function (results) {
                        $scope.allBooks = results;
                        $scope.$apply();
                    },
                    error: function (error) {
                        alert("Error: " + error.code + " " + error.message);
                    }
                });
            }

            $scope.resetFilter = function () {
                debugger;
                $scope.filterSubjects = "Any";
                $scope.filterGrades = "Any";
                $scope.filterDifficulty = "Any";
                $scope.filterBooks();
            }

            $scope.myFilterBooks = function () {
                debugger;
                var Book = Parse.Object.extend("Book");
                var query = new Parse.Query(Book);

                if ($scope.myFilterSubjects != "Any") {
                    query.equalTo("subject", $scope.myFilterSubjects);
                }
                if ($scope.myFilterGrades != "Any") {
                    query.equalTo("grade", $scope.myFilterGrades);
                }
                if ($scope.filterDifficulty != "Any") {
                    query.equalTo("difficulty", $scope.myFilterDifficulty);
                }
                query.equalTo("owner", $scope.currentUser);

                query.find({
                    success: function (results) {
                        $scope.userBooks = results;
                        $scope.$apply();
                    },
                    error: function (error) {
                        alert("Error: " + error.code + " " + error.message);
                    }
                });
            }

            $scope.myResetFilter = function () {
                debugger;
                $scope.myFilterSubjects = "Any";
                $scope.myFilterGrades = "Any";
                $scope.myFilterDifficulty = "Any";
                $scope.myFilterBooks();
            }

            $scope.validateBook = function () {
                debugger;
                if ($scope.bookAddForm.$valid) {
                    $scope.addBook();
                }
                else {
                    $scope.attempted = true;
                    alert('Not Valid Entry, please fill out all fields');
                }
            }

            $scope.refreshAddBooks = function () {
                debugger;
                $scope.attempted = false;
                $scope.name = "";
                $scope.author = "";
                $scope.grade = "";
                $scope.pickedGrade = "";
                $scope.pickedSubject = "";
                $scope.cover = "";
                $scope.defaultImage = "images/noimage.png";
                $('#imageCover').attr('src', "images/noimage.png");
            }

            $scope.addBook = function () {
                var fileUploadControl = $("#imageFile")[0];
                var parseFile;

                $scope.fileName = $scope.cover.slice(12);

                if (fileUploadControl.files.length > 0) {
                    var file = fileUploadControl.files[0];
                    var name = $scope.fileName;
                    parseFile = new Parse.File(name, file);
                }

                var Book = Parse.Object.extend("Book");
                var book = new Book();
                book.set("name", $scope.name);
                book.set("author", $scope.author);
                book.set("gradeLevel", $scope.pickedGrade);
                book.set("subject", $scope.pickedSubject);
                book.set("difficulty", $scope.pickedDifficulty);
                book.set("coverPicture", parseFile);
                book.set("owner", $scope.user);
                debugger;

                //book.save(null, {
                //    success: function (savedBook) {

                //        $scope.filterBooks();

                //        $scope.addToUser(savedBook);

                //        $scope.trig(savedBook);
                //        $scope.name = "";
                //        $scope.author = "";
                //        $scope.grade = "";
                //        $scope.pickedGrade = "";
                //        $scope.pickedSubject = "";
                //        $scope.cover = "";
                //        $scope.$apply();
                //    },
                //    error: function (savedBook, error) {
                //        alert('Failed to create new object, with error code: ' + error.message);
                //    }
                //});
            };

            $scope.updateWords = function () {
                debugger;
                var Book = Parse.Object.extend("Book");
                var query = new Parse.Query(Book);
                query.equalTo("title", $scope.selectedBook.get("title"));
                query.find({
                    success: function (results) {

                        $scope.allBooks = results;
                        $scope.wordList = results[0].get("words");
                        $scope.currentBook = results[0];
                        $scope.$apply();
                    },
                    error: function (error) {
                        alert("Error: " + error.code + " " + error.message);
                    }
                });
            }

            $scope.updateImages = function () {
                debugger;
                var Image = Parse.Object.extend("Image");
                var query = new Parse.Query(Image);
                query.equalTo("book", $scope.selectedBook.get("title"));
                query.find({
                    success: function (results) {
                        $scope.imageList = [];
                        for (var i = 0; i < results.length; i++) {
                            $scope.imageList.push({
                                name: results[i].get("name"),
                                id: results[i].id,
                                url: results[i].get("image").url()
                            });
                        }

                        $scope.$apply();
                    },
                    error: function (error) {
                        alert("Error: " + error.code + " " + error.message);
                    }
                });
            }

            $scope.updateBooks = function () {
                debugger;
                var Book = Parse.Object.extend("Book");
                var query = new Parse.Query(Book);
                query.find({
                    success: function (results) {

                        $scope.allBooks = results;
                        $scope.$apply();
                    },
                    error: function (error) {
                        alert("Error: " + error.code + " " + error.message);
                    }
                });
            }

            $scope.addImage = function () {
                debugger;
                var imageUploadControl = $("#image")[0];
                var parseImage;
                $scope.imageName = $scope.image.slice(12);

                if (imageUploadControl.files.length > 0) {
                    var image = imageUploadControl.files[0];
                    var imageName = $scope.imageName;
                    parseImage = new Parse.File(imageName, image);
                }

                var Image = Parse.Object.extend("Image");
                var image = new Image();
                image.set("image", parseImage);
                image.set("name", imageName);
                image.set("book", $scope.selectedBook.get("title"));

                image.save(null, {
                    success: function (savedImage) {

                        $scope.selectedBook.addUnique("images", savedImage.get("image").url());

                        image.set("url", savedImage.get("image").url());
                        image.save(null, {
                            success: function (savedBook) {

                                $scope.selectedBook.save(null, {
                                    success: function (savedBook) {

                                        $scope.image = "";
                                        $scope.$apply();
                                    },
                                    error: function (savedBook, error) {
                                        alert('Failed to create new object, with error code: ' + error.message);
                                    }
                                });
                            },
                            error: function (savedBook, error) {
                                alert('Failed to create new object, with error code: ' + error.message);
                            }
                        });
                    },
                    error: function (savedImage, error) {
                        alert('Failed to create new object, with error code: ' + error.message);
                    }
                });
            }

            $scope.addWord = function () {
                debugger;
                if ($scope.selectedBook.get("words").includes($scope.word)) {
                    alert("Word Already Exists");
                }
                else {
                    $scope.selectedBook.addUnique("words", $scope.word);
                    $scope.selectedBook.save(null, {
                        success: function (savedImage) {
                            $scope.word = "";
                            $scope.$apply();
                        },
                        error: function (savedImage, error) {
                            alert('Failed to create new object, with error code: ' + error.message);
                        }
                    });
                }
            }

            $scope.logout = function () {
                $scope.loggedIn = false;
                $scope.currentUser = null;
            }

            $scope.addToUser = function (book) {
                debugger;
                book.addUnique("users", $scope.currentUser.get("username"));
                book.save(null, {
                    success: function (savedBook) {
                        $scope.myFilterBooks();
                    },
                    error: function (savedBook, error) {
                        alert('Failed to create new object, with error code: ' + error.message);
                    }
                });
                $scope.myFilterBooks();
            }

            $scope.updateUserBooks = function () {
                debugger;
                $scope.userBooks = [];
                var tempBooks = $scope.currentUser.get("books");

                for (var i = 0; i < tempBooks.length; i++) {
                    for (var j = 0; j < $scope.allBooks.length; j++) {
                        if ($scope.allBooks[j].get("title") == tempBooks[i]) {
                            $scope.userBooks.push($scope.allBooks[j])
                        }
                    }
                }
            }

            $scope.trig = function (selBook) {
                debugger;
                $scope.editCover = "";
                $scope.selectedBookTitle = selBook.get("title");
                $scope.selectedBook = selBook;
                $scope.selectedBookURL = selBook.get('bookPhoto').url();
                $scope.editName = $scope.selectedBook.get('title');
                $scope.editAuthor = $scope.selectedBook.get('author');
                $scope.editPickedGrade = $scope.selectedBook.get('grade');
                $scope.editPickedSubject = $scope.selectedBook.get('subject');

                $('#editImageCover').attr('src', selBook.get('bookPhoto').url());

                activaTab('menu1');
            }

            $scope.jumpToBrowse = function () {
                debugger;
                $scope.filterBooks();
                activaTab('content');
            }

            $scope.jumpToEdit = function (bookName) {
                debugger;

                var Book = Parse.Object.extend("Book");
                var query = new Parse.Query(Book);
                query.equalTo("title", bookName);

                query.find({
                    success: function (results) {
                        $scope.selectedBook = results[0];
                        $scope.$apply();

                    },
                    error: function (error) {
                        alert("Error: " + error.code + " " + error.message);
                    }
                });

                activaTab('menu1');
            }

            $scope.activaTab = function activaTab(tab) {
                debugger;
                $('.nav-tabs a[href="#' + tab + '"]').tab('show');
            }

            $scope.removeFromUser = function (book) {
                debugger;

                book.remove("users", $scope.currentUser.get("username"));
                book.save(null, {
                    success: function (savedImage) {
                        $scope.myFilterBooks();
                    },
                    error: function (savedImage, error) {
                        alert('Failed to create new object, with error code: ' + error.message);
                    }
                });
            }

            $scope.removeWord = function (word) {
                debugger;

                $scope.selectedBook.remove("words", word);

                $scope.selectedBook.save(null, {
                    success: function (savedImage) {

                    },
                    error: function (savedImage, error) {
                        alert('Failed to create new object, with error code: ' + error.message);
                    }
                });
            }

            $scope.removeBook = function (removedBook) {
                debugger;

                var tempImages = removedBook.get('images');

                removedBook.destroy({
                    success: function (myObject) {

                        $scope.selectedBookTitle = "No Book Selected";
                        $scope.selectedBookURL = "images/noimage.png";
                        $scope.selectedBook = null;

                        $scope.filterBooks();
                        $scope.myFilterBooks();
                        $scope.$apply();
                        $scope.jumpToBrowse();

                        if (tempImages != null) {
                            for (var i = 0; i < tempImages.length; i++) {
                                $scope.removeImageFromParse(tempImages[i]);
                            }
                        }
                    },
                    error: function (myObject, error) {
                        debugger;

                        alert("error removing book");
                    }
                });
            }

            $scope.removeImageFromParse = function (removedImage) {
                debugger;

                var Image = Parse.Object.extend("Image");
                var query = new Parse.Query(Image);
                query.equalTo("url", removedImage);

                query.find({
                    success: function (results) {
                        results[0].destroy({
                            success: function (myObject) {

                            },
                            error: function (myObject, error) {
                                alert("error removing book");
                            }
                        });
                    },
                    error: function (error) {
                        alert("Error: " + error.code + " " + error.message);
                    }
                });
            }

            $scope.removeImage = function (removedImage) {
                debugger;
                $scope.selectedBook.remove("images", removedImage);

                $scope.selectedBook.save(null, {
                    success: function (savedBook) {

                    },
                    error: function (savedBook, error) {
                        alert('Failed to create new object, with error code: ' + error.message);
                    }
                });

                var Image = Parse.Object.extend("Image");
                var query = new Parse.Query(Image);
                query.equalTo("url", removedImage);

                query.find({
                    success: function (results) {
                        results[0].destroy({
                            success: function (myObject) {

                            },
                            error: function (myObject, error) {
                                alert("error removing book");
                            }
                        });
                    },
                    error: function (error) {
                        alert("Error: " + error.code + " " + error.message);
                    }
                });
            }

            $scope.validateEdit = function () {
                debugger;
                if ($scope.editForm.$valid) {
                    $scope.addBook();
                }
                else {
                    alert('Not Valid Entry, please fill out all fields');
                }
                return;
            }

            $scope.editBook = function () {
                debugger;
                var fileUploadControl = $("#editImageFile")[0];
                var parseFile;
                $scope.fileName = $scope.editCover.slice(12);
                if (fileUploadControl.files.length > 0) {
                    var file = fileUploadControl.files[0];
                    var name = $scope.fileName;
                    parseFile = new Parse.File(name, file);
                }

                $scope.selectedBook.set("title", $scope.editName);
                $scope.selectedBook.set("author", $scope.editAuthor);
                $scope.selectedBook.set("grade", $scope.editPickedGrade);
                $scope.selectedBook.set("subject", $scope.editPickedSubject);

                if ($scope.editCover) {
                    $scope.selectedBook.set("bookPhoto", parseFile);
                }

                $scope.selectedBook.save(null, {
                    success: function (savedBook) {
                        $scope.jumpToBrowse();
                    },
                    error: function (savedBook, error) {
                        alert('Failed to create new object, with error code: ' + error.message);
                    }
                });
            }

            var init = function () {
                //var user = $cookies.get('user');
                $scope.username = "nick";
                $scope.password = "nick";
                $scope.login();
            };
            init();

        }]);

    </script>
</head>

<body>
    <div ng-controller="ElloquentController">

        <div class="container">

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Warning!</h4>
                        </div>
                        <div class="modal-body">
                            <h2> Are you sure you want to delete this book and erase its content?</h2>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removeBook(selectedBook)">Delete Book</button>
                        </div>
                    </div>
                </div>
            </div>
            <center><img src="images/elloquent_whitespace.png" alt="hi" style="height:128px" class="inline" /></center>
        </div>

        <div class="container" style="padding-top: 15px;" ng-hide="loggedIn == true">
            <div class="login-container" style="width: 40%; margin: 0 auto;">
                <div class="login-header-container" style="font-size: 40px; text-align: center;">Log In</div>
                <div style="padding: 10px;">
                    <input class="form-control" type="text" placeholder="Username" id="test" ng-model="username" />
                    <input class="form-control" style="margin-top: 15px;" type="password" placeholder="Password" ng-model="password" />
                    <input href="#Header" class="btn btn-primary btn-block" style="margin-top: 15px;" type="submit" id="passCode" value="Log In" ng-click="login()" ng-disabled="!username || !password" />
                </div>
            </div>
        </div>

        <div ng-show="loggedIn == true">

            <div class="container">

                <div class="row">
                    <span class="right">
                        <input class="btn btn-primary" type="submit" id="logout" value="Log Out" ng-click="logout()" />
                    </span>
                    <span class="left">
                        <h2>Welcome {{currentUser.get('username')}}</h2>
                    </span>
                </div>

                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#content" id="myTab" ng-click="filterBooks()">Browse Content</a></li>
                        <li><a data-toggle="tab" href="#home" ng-click="refreshAddBooks()">Add Books</a></li>
                        <li id="editBook"><a data-toggle="tab" href="#menu1">Edit Book</a></li>
                        <li><a data-toggle="tab" href="#menu2">My Books</a></li>
                    </ul>
                </div>

                <div class="row">
                    <div class="tab-content">
                        <div id="content" class="tab-pane fade in active">
                            <h1 style="text-align: center;">Browse Content </h1>

                            <div class="container">

                                <div class="row myBlock">
                                    <div style="flex: 2;">
                                        <div style="display: flex;">
                                            <button type="submit" style="flex: 1; margin: 5px;" class="btn" id="filter" value="filter" ng-click="filterBooks()">Filter!</button>
                                            <button type="submit" style="flex: 1; margin: 5px;" class="btn" id="resetFilter" value="restFilter" ng-click="resetFilter()">Reset Filter</button>
                                        </div>

                                    </div>

                                    <div style="flex: 3; margin: 5px;">
                                        <label for="repeatSelect"> Filter by Grade: </label>
                                        <select class="form-control" ng-model="filterGrades" ng-options="grade for grade in grades" ng-init="filterGrades = grades[0]"></select>
                                    </div>
                                    <div style="flex: 3; margin: 5px;">
                                        <label for="repeatSelect"> Filter by Difficulty: </label>
                                        <select class="form-control" ng-model="filterDifficulty" ng-options="subject for subject in difficulty" ng-init="filterDifficulty = difficulty[0]"></select>
                                    </div>
                                    <div style="flex: 3; margin: 5px;">
                                        <label for="repeatSelect"> Filter by Subject: </label>
                                        <select class="form-control" ng-model="filterSubjects" ng-options="subject for subject in subjects" ng-init="filterSubjects = subjects[0]"></select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="mygrid-wrapper-div">

                                        <table class="table table-hover">
                                            <tr>
                                                <th>Cover</th>
                                                <th>Title</th>
                                                <th>Author</th>
                                                <th>Grade</th>
                                                <th>Difficulty</th>
                                                <th>Subject</th>
                                                <th></th>
                                            </tr>
                                            <tr ng-repeat="book in allBooks">
                                                <td><img ng-src="{{book.get('coverPicture').url()}}" style="height:192px;" />	</td>
                                                <td>{{book.get("name")}}</td>
                                                <td>{{book.get("author")}}</td>
                                                <td>{{book.get("gradeLevel")}}</td>
                                                <td>{{book.get("difficulty")}}</td>
                                                <td>{{book.get("subject")}}</td>
                                                <td><button type="submit" class="btn" id="addToUser" ng-click="addToUser(book)">Add to my Library!</button></td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="home" class="tab-pane fade">

                            <h1 style="text-align: center;">Add a Book</h1>

                            <div class="container">
                                <form name="bookAddForm">

                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <input type="text" class="form-control" name="name" ng-class="{ 'error': attempted && bookAddForm.name.$invalid }" ng-model="name" required placeholder="Title" />
                                            <input type="text" class="form-control" name="author" ng-class="{ 'error': attempted && bookAddForm.author.$invalid }" ng-model="author" required placeholder="Author" />
                                            <select name="subj" class="form-control" ng-class="{'error':attempted && bookAddForm.subj.$invalid}"
                                                    ng-model="pickedSubject"
                                                    ng-options="subject for subject in subjectsPick"
                                                    required>
                                                <option value="">Select Subject</option>
                                            </select>
                                            <select name="grade" class="form-control" ng-class="{'error':attempted &&  bookAddForm.grade.$invalid}"
                                                    ng-model="pickedGrade"
                                                    ng-options="grade for grade in gradesPick"
                                                    required>
                                                <option value="">Select Grade</option>
                                            </select>
                                            <select name="difficulty" class="form-control" ng-class="{'error':attempted &&  bookAddForm.difficulty.$invalid}"
                                                    ng-model="pickedDifficulty"
                                                    ng-options="difficulty for difficulty in difficultyPick"
                                                    required>
                                                <option value="">Select Difficulty</option>
                                            </select>

                                            <input class="btn btn-primary btn-block" type="submit" id="submit" value="Submit" ng-click="validateBook()" />

                                        </div>

                                        <div class="col-md-6">

                                            <h4>Book Cover:</h4>
                                            <center>
                                                <img id="imageCover" ng-src="{{defaultImage}}" style="width: 80%;" />
                                            </center>
                                            <input type="file" fileinput="file" id="imageFile" name="cover" ng-class="{'error':attempted  && bookAddForm.cover.$invalid}" ng-model="cover" />

                                        </div>
                                    </div>

                                </form>


                            </div>
                        </div>

                        <div id="menu1" class="tab-pane fade">
                            <div class="container">

                                <div class="row">
                                    <div class=col-md-4>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <h3>Edit Book Details </h3>

                                                <form name="editForm">

                                                    <h5>Book Cover:</h5>
                                                    <img id="editImageCover" ng-src="{{selectedBook.get('bookPhoto').url()}}" style="width:192px;" />
                                                    <input id="editImageFile" type="file" ng-model="editCover" />

                                                    <h5>Book Title:</h5>
                                                    <input class="form-control" name="editName" ng-class="{ 'error': editForm.editName.$invalid }" type="text" ng-model="editName" required />
                                                    <h5>Author:</h5>
                                                    <input class="form-control" name="editAuthor" ng-class="{ 'error': editForm.editAuthor.$invalid }" type="text" ng-model="editAuthor" required />

                                                    <h5>Select Grade Level:</h5>
                                                    <select class="form-control" ng-model="editPickedGrade" ng-options="grade for grade in gradesPick"></select>

                                                    <h5>Select Subject:</h5>
                                                    <select class="form-control" ng-model="editPickedSubject" ng-options="subject for subject in subjectsPick"></select>

                                                    <input class="btn btn-primary btn-block" type="submit" id="submit" value="Save Book Details" ng-click="editBook()" ng-disabled="!editName || !editAuthor || !editPickedGrade || !editPickedSubject" />

                                                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModal" ng-disabled="!selectedBook">
                                                        Delete Book
                                                    </button>

                                                    <input class="btn btn-warning btn-block" type="submit" id="backToBrowse" value="Cancel Edit" ng-click="jumpToBrowse();" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <h3>Current Words </h3>

                                                <h5>Add Word:</h5>
                                                <input class="form-control" type="text" placeholder="Example: Technology" ng-model="word" />
                                                <input class="btn btn-primary btn-block" type="submit" id="addWord" value="Add Word" ng-click="addWord()" ng-disabled="!word || !selectedBook" />
                                            </div>

                                            <div class="row">
                                                <div class="mygrid-wrapper-div">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>Words</th>
                                                            <th>Remove</th>
                                                        </tr>

                                                        <tr ng-repeat="word in selectedBook.get('words') track by $index">
                                                            <td>{{word}}</td>
                                                            <td>
                                                                <button type="submit" class="btn" id="removeWord" ng-click="removeWord(word)">X</button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <h3>Current Images</h3>

                                                <h5>Add Image:</h5>
                                                <input class="form-control" type="file" id="image" ng-model="image" />
                                                <input class="btn btn-primary btn-block" type="submit" id="addImage" value="Add Image" ng-click="addImage()" ng-disabled="!image||  !selectedBook" />
                                            </div>

                                            <div class="row">
                                                <div class="mygrid-wrapper-div">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>Image</th>
                                                            <th>Remove</th>
                                                        </tr>
                                                        <tr ng-repeat="im in selectedBook.get('images')">
                                                            <td><img ng-src="{{im}}" style="width:192px;" />	</td>
                                                            <td>
                                                                <button type="submit" class="btn" id="removeImage" ng-click="removeImage(im)">X</button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="menu2" class="tab-pane fade">
                            <h1 style="text-align: center;">My Library</h1>

                            <div class="container">

                                <div class="row myBlock">
                                    <div style="flex: 2;">
                                        <div style="display: flex;">
                                            <button type="submit" style="flex: 1; margin: 5px;" class="btn" id="filter" value="filter" ng-click="myFilterBooks()">Filter!</button>
                                            <button type="submit" style="flex: 1; margin: 5px;" class="btn" id="resetFilter" value="restFilter" ng-click="myResetFilter()">Reset Filter</button>
                                        </div>
                                    </div>

                                    <div style="flex: 3; margin: 5px;">
                                        <label for="repeatSelect"> Filter by Grade: </label>
                                        <select class="form-control" ng-model="myFilterGrades" ng-options="grade for grade in grades" ng-init="myFilterGrades = grades[0]"></select>
                                    </div>
                                    <div style="flex: 3; margin: 5px;">
                                        <label for="repeatSelect"> Filter by Difficulty: </label>
                                        <select class="form-control" ng-model="myFilterDifficulty" ng-options="subject for subject in difficulty" ng-init="myFilterDifficulty = difficulty[0]"></select>
                                    </div>
                                    <div style="flex: 3; margin: 5px;">
                                        <label for="repeatSelect"> Filter by Subject: </label>
                                        <select class="form-control" ng-model="myFilterSubjects" ng-options="subject for subject in subjects" ng-init="myFilterSubjects = subjects[0]"></select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="mygrid-wrapper-div">
                                        <table class="table table-hover">
                                            <tr>
                                                <th style="border-left: solid; border-color: lightgray; border-width: 1px;">Cover</th>
                                                <th>Title</th>
                                                <th>Author</th>
                                                <th>Grade</th>
                                                <th>Difficulty</th>
                                                <th>Subject</th>
                                                <th></th>
                                            </tr>
                                            <tr ng-repeat="book in userBooks">
                                                <td style="border-left: solid; border-color: lightgray; border-width: 1px;"><img ng-src="{{book.get('coverPicture').url()}}" style="height:192px;" /></td>
                                                <td>{{book.get("name")}}</td>
                                                <td>{{book.get("author")}}</td>
                                                <td>{{book.get("gradeLevel")}}</td>
                                                <td>{{book.get("difficulty")}}</td>
                                                <td>{{book.get("subject")}}</td>
                                                <td><button type="submit" class="btn" id="addWord" value="jumpWord" ng-click="trig(book)">Edit</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>