
<!DOCTYPE html>
<html ng-app="submitExample">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js"></script>		
		<script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>		
		<script src="//cdn.rawgit.com/Artod/baascms/master/dist/baascms-1.0.0.min.js"></script>
		<script src="//cdn.rawgit.com/Artod/baascms/master/dist/baascms-adapter-parse-1.0.0.min.js"></script>
    		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    		
    		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    		
    		<script>
			Parse.initialize('X2OtQJt6k4BF3mxtqJxWajyPnhEu9Pmu1PznyJXs', 'MGkTXABPz325R7WrXH2WkFRR1JVtrwPZJDUYPYD7');
			
			BaasCMS.init({
				baas: 'Parse'
			});
			
			
		</script>
<script>
  angular.module('submitExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.list = [];
      $scope.visitors;
      $scope.leader=false;
      $scope.name;
      $scope.now = Math.floor(Date.now()/60000/60);
      $scope.friends = [];
      $scope.key = function(){
      	$scope.leader = true;
      }
      $scope.show = function(){
	var Visitor = Parse.Object.extend("Visitor");
	var query = new Parse.Query(Visitor);
	query.find({
  	success: function(results) {
		$scope.visitors = results;
		for (var i = 0; i < results.length; i++) {
			$scope.friends.push({name:results[i].get("name"),date:results[i].get("date"),visits:results[i].get("visits")});
		}
  	},
  	error: function(error) {
		alert("Error: " + error.code + " " + error.message);
	}
	});
      }
      $scope.show();
      $scope.submit = function() {
      	
      	var Visitor= Parse.Object.extend("Visitor");
	var query = new Parse.Query(Visitor);
	query.equalTo("name", $scope.name);
	query.find({
  		success: function(results) {
  			if (results.length == 0){
  				alert("Welcome " + $scope.name + ". You are a new visitor!");
  				var visitor = new Visitor();
  				visitor.set("name",$scope.name);
  				visitor.set("date",Math.floor(Date.now()/60000/60));//hour
  				visitor.set("visits",1);
  				visitor.save();
  			}
  			else {
  				
  				if(($scope.now - results[0].get("date")) < 12){
  					alert("You signed in less than 12 hours ago, please wait before signing in again");
  				}
  				else{
  					alert("Welcome Back! You have visited " + results[0].get("visits") + " times!");
  				results[0].increment("visits");
  				results[0].set("date",Math.floor(Date.now()/60000/60));//hour
  				results[0].save();
  				}
  			}
  			
    			
  		},
  		error: function(error) {
			alert("Error: " + error.code + " " + error.message);
  		}
	});
	};
    }]);
    
</script>
</head>



<body >
	







<div ng-controller="ExampleController">

<div class="container">
<div class="jumbotron">
  <h1 class="text-center"> Elloquent </h2>
</div>	
</div>

<div class="container">
	<h3>Add Book:</h3>
		
      <input class="form-control"  type="text"  placeholder="Example: John Smith" ng-model="name" name="name" />
      <p></p>
      <input class="btn btn-primary btn-block" type="submit" id="submit" value="Submit" ng-click="submit()" ng-disabled="!name"/>
      

	<input class="btn btn-primary btn-block form-control" type="submit" id="remove" value="Remove Leaderboard" ng-click="showme=false"ng-show = "showme"/>
        <input class="btn btn-primary btn-block form-control" type="submit" id="key" value="Show Leaderboard" ng-click="showme=true" ng-hide = "showme"/>
</div>


  
  

   	 
 
  <div class="container" ng-controller="ExampleController" ng-show="showme">
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Visits</th>
      <th>Last Visited (Hours)</th>
    </tr>
    <tr ng-repeat="friend in friends | orderBy:'-visits' ">
      <td>{{friend.name}}</td>
      <td>{{friend.visits}}</td>
      <td>{{now - friend.date }} </td>
    </tr>
  </table>
</div>
</div>







</body>
</html>
