<!DOCTYPE html>

<html ng-app="Login">

<head>

    <meta charset="utf-8" />
    <title></title>

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js"></script>-->
    <script src="https://npmcdn.com/parse@1.9.2/dist/parse.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        Parse.initialize("hm3HmqcHxgfMQxP2SF0Ue0at67HFqqxeYq5ZxKoR", "nweYdxbTDxFnWp85o2xxqNu6Gl8zDKnaZyxGWkAe");
        Parse.serverURL = 'https://parseapi.back4app.com'
    </script>

    <style>

        .login-header-container {
            background-color: rgb(92, 184, 228);
            border-bottom: solid;
            border-bottom-color: rgb(0, 143, 216);
            border-bottom-width: 2px;
            border-radius: 5px;
        }

        .login-container {
            border: solid;
            border-color: rgb(0, 143, 216);
            border-width: 2px;
            border-radius: 8px;
            background-color: rgb(170, 225, 255);
        }

    </style>

    <script>
        $(function () {
            $("#Header").load("Header.html");
        });

        angular.module('Login', []).controller('LoginController', ['$scope', function ($scope) {

            $scope.username = "";
            $scope.password = "";

            $scope.login = function () {
                debugger;
                var user = Parse.User.logIn($scope.username, $scope.password, {
                    success: function (user) {
                        debugger;
                    },
                    error: function (user, error) {
                        // The login failed. Check error to see why.
                        alert("Incorrect Username or Password");
                    }
                });
            }
        }]);
    </script>

</head>
<body>

    <div id="Header"></div>

    <div ng-controller="LoginController">
        <div class="container" style="padding-top: 15px;" ng-hide="loggedIn == true">
            <div class="login-container" style="width: 40%; margin: 0 auto;">
                <div class="login-header-container" style="font-size: 40px; text-align: center;">Log In</div>
                <div style="margin: 10px;">
                    <input class="form-control" style="margin-top: 15px;" type="text" placeholder="Username" id="test" ng-model="username" />
                    <input class="form-control" style="margin-top: 15px;" type="text" placeholder="Password" ng-model="password" />
                    <input class="btn btn-primary btn-block" style="margin-top: 15px;" type="submit" id="passCode" value="Log In" ng-click="login()" ng-disabled="!username || !password" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>